<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      .chessboard {
        display: grid;
        grid-template-columns: repeat(8, minmax(0, 1fr));
        grid-template-rows: repeat(8, minmax(0, 1fr));
        width: 500px;
        aspect-ratio: 1;
        height: 500px;
        transform: rotate(0deg);
        justify-content: center;
        align-items: center;
      }

      .piece.white {
        color: white;
        /* filter: drop-shadow(0 0 2px rgba(0, 0, 0, 1)); */
      }

      .piece.black {
        color: black;
      }

      .flipped {
        transform: rotate(180deg);
      }

      .square {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        width: 100%;
        aspect-ratio: 1;
      }

      .square.light {
        background-color: #f5f5e0;
      }

      .square.dark {
        background-color: #6b9048;
      }

      .piece {
        font-size: 38px;
        cursor: grab;
      }

      .piece.draggable {
        cursor: grab;
      }

      /* .dragging {
        opacity: 0.5;
      } */

      /* Rotate pieces for black player */
      .flipped .piece {
        transform: rotate(180deg);
      }

      /* .flip-180 {
        transform: rotate(180deg);
      } */
    </style>
  </head>

  <body>
    <div
      class="flex items-center w-full h-screen overflow-auto bg-zinc-900 flex-row"
    >
      <div class="w-4/5 h-screen flex items-center justify-center bg-zinc-900 flex-col space-y-4">
        <div class="chessboard"></div>
        <div id="copy-container" class="relative bg-neutral-800 font-semibold text-white p-3 mt-4 rounded-md items-start">
          <h4 class="ml-1">Copy the URL and send it to your friends!</h4>
          <button id="copy-button" class="absolute mt-3 mr-3 top-0 right-0 bg-lime-600 text-white text-xs px-5 py-2 rounded hover:bg-lime-500 transition">COPY</button>
          <h5 id="url" class="overflow-x-scroll px-2 mt-3 pt-3 pb-3 bg-stone-700 rounded font-sans"></h5>
        </div>
      </div>
      <script>
        const copyButton = document.getElementById("copy-button");
        const copyContainer = document.getElementById("copy-container");

        url.textContent = window.location.href;
        
        copyButton.addEventListener("click", ()=>{
          const text = window.location.href;
          navigator.clipboard.writeText(text).then(() => {
            copyButton.textContent = "COPIED";
            copyButton.classList.remove("bg-lime-700");
            copyButton.classList.add("bg-lime-500");
            
            setTimeout(()=>{
              copyButton.textContent = "COPY";
              copyButton.classList.remove("bg-lime-500");
              copyButton.classList.add("bg-lime-600");
            }, 1500);
            })
            .catch(err => {
              console.error("Failed to copy text: ", err);
              alert("Failed to copy text.");
            });
          });
      </script>
      <div class="w-1/5 h-screen flex flex-col items-center justify-center bg-neutral-800">
        <div class="w-full items-center justify-center text-center text-white pt-4 pb-4 text-2xl font-extrabold bg-neutral-850">
          <h1 class="bg-neutral-700 mx-3 py-3 rounded">MOVES MADE</h1> 
        </div>
        <div id="moveslist" class="w-full h-full ml-1 justify-center items-center eoverflow-y-auto p-4 text-white text-lg font-semibold">
        </div>
      </div>
      </div>
    </div>
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"
      integrity="sha512-xRllwz2gdZciIB+AkEbeq+gVhX8VB8XsfqeFbUh+SzHlN96dEduwtTuVuc2u9EROlmW9+yhRlxjif66ORpsgVA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      const socket = io();
      const roomId =  "<%= gameId %>";
      socket.emit("joinGame", roomId);
      console.log("Joined room:", roomId);
      window.roomId = roomId;
    </script>
    <script src="/js/chessgame.js"></script>
  </body>
</html>
